@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300&display=swap');

:root {
    --light-bg-color: #fafafa;
    --dark-bg-color: #2d2d2d;
    --secondary-bg-color: #1e6674;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    background: linear-gradient(to bottom right, #B0BEC5, #CFD8DC, #ECEFF1);
    text-align: center;
    padding: 2em 1em;
    color: #2d2d2d;  /* Adjusting text color for better readability */
}


.header h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.0rem;
    letter-spacing: .6rem;
}

.header h2 {
    font-weight: 300;
    font-style: italic;
    font-size: 1.2rem;
}

.header hr {
    width: 8%;
}

.container {
    display: flex;
}

.left-panel {
    /*background: linear-gradient(to right, rgb(190, 147, 197), rgb(123, 198, 204));*/
    background: linear-gradient(to right, #B0BEC5, #CFD8DC);
    flex: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.right-panel {
    /*background-color: var(--light-bg-color);*/
    background-color: #CFD8DC;  /* This color is taken from the gradient of the left panel */
    flex: 7;
    padding: 2rem 5rem;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

